
<script src="https://js.pusher.com/3.2/pusher.min.js"></script>
<script>
var pusher = new Pusher('9624582dd73c35f24351', {
  encrypted: true
});

var channel = pusher.subscribe('<%= "channel_#{@game.id}" %>');
channel.bind('refresh', function(data) {
  location.reload();
});

var hide_or_show = 'Show';
function change_role_info(){
    if(hide_or_show == 'Show'){
       hide_or_show = 'Hide'; 
       $('#teammates_info').slideUp();
       $('#role_info').text("<%= "Player #{@myself.seat_num}"%>");
       $('#role_info_text').attr('class', "text-info");
    } 
    else{
        hide_or_show = 'Show';    
        $('#teammates_info').slideDown();
        if("<%= "#{@myself.role.upcase}"%>" == "SPY"){
            $('#role_info_text').attr('class', "text-danger");
        }
        else{
            $('#role_info_text').attr('class', "text-info");
        }
        $('#role_info').text("<%= "#{@myself.role.upcase}"%>");
    } 
}
</script>

<h1>
    <% if "#{@myself.role.upcase}" == "SPY" %>
        <div id="role_info_text", class="text-danger">
    <% else %>
        <div id="role_info_text", class="text-info">
    <% end %>
            <button type="button" class="plain-button", id="role_info", onclick="change_role_info()">
                <%= "#{@myself.role.upcase}" %>
            </button>
        </div>
</h1>

<h3>
    <% if @myself.id == @game.sheriff_player_id %>
        <div class="text-info center">
            <p>You are Sheriff</p>
        </div>
    <% end %>
</h3>
<div id="teammates_info">
    <% if @myself.role == 'spy' %>
        <div class="text-danger">
            Teammates:
            <% @teammates.each do |seat|%>
                <%= " #{seat}" %>
            <% end %>
        </div>
    <% end %>
</div>

<div class="center jumbotron">
    <div class="text-left">
        <p>Game Process</p>
    </div>
    
    <table class="table table-striped text-left">
        <tr>
            <th>Task 1</th>
            <th>Task 2</th>
            <th>Task 3</th>
            <th>Task 4</th>
            <th>Task 5</th>
        </tr>
    
        <tr>
            <% @game_process.each do |x| %>
                <% if x == 'success' %>
                    <td>
                        <div class="text-success">
                            <%= "#{x.upcase}"%>
                        </div>
                    </td>
                <% elsif x == 'fail' %>
                    <td>
                        <div class="text-danger">
                            <%= "#{x.upcase}"%>
                        </div>
                    </td>
                <% else %>
                    <td></td>
                <% end %>
            <% end %>
        </tr>
    </table>
</div>

<div class="center">
    <% if @myself.id == @game.sheriff_player_id %>
        <%= button_to 'Start Speaking', '/games/choose_team_member', method: :get, class: 'btn btn-lg btn-primary' %>
    <% end %>
</div>
