
<script src="https://js.pusher.com/3.2/pusher.min.js"></script>
<script>
var pusher = new Pusher('9624582dd73c35f24351', {
  encrypted: true
});

var channel = pusher.subscribe('<%= "channel_#{@game.id}" %>');
channel.bind('refresh', function(data) {
  location.reload();
});
</script>
<h1>
    <% if @myself.role == 'resistant' %>
        <div class="text-primary">
            <%= "#{@myself.role.upcase}" %>
        </div>
    <% else %>
        <div class="text-danger">
            <%= "#{@myself.role.upcase}" %>
        </div>
    <% end %>
</h1>

<% if @myself.id == @game.sheriff_player_id %>
    <div class="text-info center">
        <p>You are Sheriff</p>
    </div>
<% end %>

<div class="text-muted">
    <% if @myself.role == 'spy' %>
        Teammates:
        <% @teammates.each do |seat|%>
            <%= " #{seat}" %>
        <% end %>
    <% end %>
</div>

<div class="center jumbotron">
    <div class="text-left">
        <p>Game Process</p>
    </div>
    
    <table class="table table-striped text-left">
        <tr>
            <th>Task 1</th>
            <th>Task 2</th>
            <th>Task 3</th>
            <th>Task 4</th>
            <th>Task 5</th>
        </tr>
    
        <tr>
            <% @game_process.each do |x| %>
                <% if x == 'success' %>
                    <td>
                        <div class="text-success">
                            <%= "#{x.upcase}"%>
                        </div>
                    </td>
                <% elsif x == 'fail' %>
                    <td>
                        <div class="text-danger">
                            <%= "#{x.upcase}"%>
                        </div>
                    </td>
                <% else %>
                    <td></td>
                <% end %>
            <% end %>
        </tr>
    </table>
</div>

<div class="center">
    <% if @myself.id == @game.sheriff_player_id %>
        <%= button_to 'Start Speaking', '/games/choose_team_member', method: :get, class: 'btn btn-lg btn-primary' %>
    <% end %>
</div>
