
<script src="https://js.pusher.com/3.2/pusher.min.js"></script>
<script>
  var pusher = new Pusher('9624582dd73c35f24351', {
    encrypted: true
  });

  var channel = pusher.subscribe('<%= "channel_#{@game.id}" %>');
  channel.bind('refresh', function(data) {
    location.reload();
  });
</script>
<h1>Vote</h1>

<h4 class="text-info">
  Team member:
  <% @team.each do |seat| %>
    <%= " #{seat}" %>
  <% end %>
</h4>
<div class="center jumbotron">
    <%= form_for :vote, url: '/games/collect_votes', method: 'post' do |f| %>
      <% if @player.vote == 'pass' %>
        <%= f.submit "Accept", class: 'btn btn-lg btn-primary', disabled: "disabled" %>
      <% else %>
        <%= f.submit "Accept", class: 'btn btn-lg btn-primary'%>
      <% end %>
      <% if @player.vote == 'not_pass' %>
        <%= f.submit "Reject", class: 'btn btn-lg btn-primary', disabled: "disabled" %>
      <% else %>
        <%= f.submit "Reject", class: 'btn btn-lg btn-primary'%>
      <% end %>
    <% end %>
</div>